header {
    background: #b39ddb;
    padding: 5px;
}

.header-bottom-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-bottom {
    display: flex;
}

.header-bottom-left {
    align-items: center;
    display: flex;
}

.header-onlinecheck a, .header-login-menu a{
    display: flex;
    align-items: center;
}

.headerItem i {
    color: black;
    margin-right: 5px;
}

.basket-button i {
    font-size: 20px;
}


