<header class="header">
  <ng-container *ngIf="!isMobile">
    <div class="container">
      <div class="headerArea">
        <div class="logo">
          <a href="" style="font-size: 20px; font-weight: 500">Myhotel</a>
        </div>
        <div class="menuButton">
          <div class="menuButtonItem">
            <mat-form-field appearance="outline" class="menu-infix-lang">
              <mat-select name="lang" [value]="0">
                <mat-option *ngFor="let lang of langs; index as i" [value]="i">
                  {{ lang.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="menuButtonItem">
            <mat-form-field appearance="outline" class="menu-infix">
              <mat-select name="cur" [value]="0">
                <mat-option
                  *ngFor="let currency of currencys; index as i"
                  [value]="i"
                >
                  {{ currency.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="menuButtonItem checkIn">
            <a [routerLink]="['/Online']">
              <i class="fas fa-user-check"></i>
              <span> Check-in</span>
            </a>
          </div>

          <div class="menuButtonItem">
            <a class="login-router-link" [routerLink]="['/Login']">
              <mat-icon>account_circle</mat-icon>
              <span>Giriş</span>
            </a>
          </div>

          <div class="menuButtonItem">
            <button
              mat-raised-button
              class="basketButton"
              matBadge="2"
              matBadgePosition="after"
              matBadgeColor="accent"
            >
              <i class="fas fa-shopping-basket"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isMobile">
    <div class="headerArea">
      <div class="logo">
        <a href="" style="font-size: 20px; font-weight: 500">Myhotel</a>
      </div>
      <div class="menuButton">
        <div class="menuButtonItem" style="border: none">
          <button
            mat-raised-button
            class="basketButton"
            matBadge="2"
            matBadgePosition="after"
            matBadgeColor="accent"
          >
            <i class="fas fa-shopping-basket"></i>
          </button>
        </div>

        <div class="menuButtonItem" style="border: none">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <mat-drawer-container class="sidenav" autosize>
    <mat-drawer #drawer class="sidenav-sidenav" mode="side">
      <div>asasa</div>
    </mat-drawer>
  </mat-drawer-container>
</header>
