

<header class="header">
  <div class="header-bottom-container hotel-advisor-container">
      <div></div>
    <div class="header-bottom">
      <div class="header-bottom-left">Myhotel</div>
      <div class="header-bottom-right">
        <mat-form-field appearance="outline" class="menu-infix">
          <mat-select name="lang">
            <mat-option *ngFor="let lang of langs" [value]="lang.value">
              {{ lang.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="menu-infix">
          <mat-select name="lang">
            <mat-option
              *ngFor="let currency of currencys"
              [value]="currency.value"
            >
              {{ currency.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="header-onlinecheck headerItem menu-infix">
          <a [routerLink]="['/Online']">
            <i class="fas fa-user-check"></i>
            Check-in
          </a>
        </div>

        <div class="header-login-menu headerItem menu-infix">
          <a
            class="login-router-link"
            [routerLink]="['/Login']"
          >
            <mat-icon>account_circle</mat-icon>
            <span>Giriş</span>
          </a>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</header>
