<footer class="hotel-footer">
  <div class="footer-bottom hotel-advisor-container">
    <div class="footer-container">
      v6.0.1.6
      <div
        class="footer-security"
      >
        <div><i class="fab fa-cc-visa"></i></div>
        <div><i class="fab fa-cc-mastercard"></i></div>
        <div><i class="fab fa-cc-amex"></i></div>
        <!---->
        <div class="hotelSSLimg">
          <img
            src="https://erspublic.blob.core.windows.net/test/1721256c-200b-2731-8cf1-bd5a606be000.png"
            alt="Verify"
            style="width: 50px; height: 25px"
          /><img
            src="https://erspublic.blob.core.windows.net/test/17212578-252b-1140-8732-6bd56f4b6000.png"
            alt="Verify"
            style="
              width: 50px;
              height: 23px;
              border-radius: 5px;
              margin-left: 5px;
            "
          />
        </div>
      </div>
      <div class="footer-reklam">
        ©© 2021 - MyHotel resmi rezervasyon sitesidir..
      </div>
      <div class="footer-bottom-agreement">
        <a href="/WebPage/FOOTER_PRIVACY_AGREEMENT">Gizlilik Sözleşmesi</a
        ><a href="/WebPage/FOOTER_USE_AGREEMENT">Kullanım Sözleşmesi</a
        ><a href="/WebPage/FOOTER_SALE_AGREEMENT">Satış Sözleşmesi</a>
      </div>
      <div class="footer-logo ng-star-inserted">
        <img
          height="24"
          src="https://erspublic.blob.core.windows.net/test/1712ffd9-8285-1147-88c3-fa63114a6000.png"
          alt="MyHotel"
        />
      </div>
      <!---->
    </div>
  </div>
</footer>
