<div fxLayout="row wrap" style="padding-left:15px;">
  <div fxFlex="80">
    <h1 style="margin: 0px;">MyHotel</h1>
    <div class="hotel-detail-info-stars">
      <mat-icon>star</mat-icon><mat-icon>star</mat-icon
      ><mat-icon>star</mat-icon>
    </div>

    <div class="hotel-detail-info-addres">Faralya 1 / Mugla, Turkey</div>
  </div>
  <div fxFlex="20">
    <div
      class="showMap ng-star-inserted"
      style="
        width: 100px;
        height: 70px;
        grid-column: span 4;
        border: solid 4px #fdf4cc;
        position: relative;
      "
    >
      <img
        src="https://erspublic.blob.core.windows.net/test/16e63eaa-17ae-1906-8552-e2932b0e8000.png"
        style="width: inherit; height: 100%"
      /><span class="map-detail-city ng-star-inserted" style="top: 44px">
        Mugla, Turkey Haritada Göster </span
      ><!---->
    </div>
  </div>

  <div fxFlex="100" class="hotel-contact">
    <a
      target="_blank"
      href="mailto:e.cetinkaya@talyabilisim.com.tr"
      class="ng-star-inserted"
      ><mat-icon>email</mat-icon>
      e.cetinkaya@talyabilisim.com.tr
    </a>



    <a href="tel:90 252 642 1140" class="ng-star-inserted"
      ><mat-icon>phone</mat-icon>
      90 252 642 1140
    </a>



    <a target="_blank" href="myhotel.com" class="ng-star-inserted"
      ><mat-icon>link</mat-icon>
      myhotel.com
    </a>
  </div>

  <div fxFlex="100">
    <div>
      <mat-icon>done_all</mat-icon
      ><span _ngcontent-xup-c189="" class="ng-star-inserted">Otelde Ödeme</span>
    </div>

    <div>
      <mat-icon>done_all</mat-icon
      ><span _ngcontent-xup-c189="" class="ng-star-inserted">Otelde Ödeme</span>
    </div>
  </div>

  <div fxFlex="100">
    <p>
      Kaş Antalya bölgesi Çukurbağ Yarımadasındaki <strong>MyHotel</strong> Kaş ilçesindeki
      oteller arasında en iyi konaklama deneyimi sunmaktadır.
    </p>
  </div>
</div>
