<div fxLayout="row wrap" class="hotelInfoPad">
  <div fxFlex="70">
    <h1 style="margin: 0px">MyHotel</h1>
    <div class="hotel-detail-info-stars">
      <mat-icon>star</mat-icon><mat-icon>star</mat-icon
      ><mat-icon>star</mat-icon>
    </div>

    <div class="hotel-detail-info-addres">Faralya 1 / Mugla, Turkey</div>
  </div>
  <div fxFlex="30">
    <div
      class="showMap ng-star-inserted"
      style="
        width: 100%;
        height: auto;
        border: solid 4px #fdf4cc;
        position: relative;
      "
    >
      <img
        src="https://erspublic.blob.core.windows.net/test/16e63eaa-17ae-1906-8552-e2932b0e8000.png"
        style="width: inherit; height: 100%"
      /><span class="map-detail-city ng-star-inserted" style="top: 44px">
        Mugla, Turkey Haritada Göster </span
      ><!---->
    </div>
  </div>

  <div fxFlex="100" class="hotel-contact">
    <div>
      <a target="_blank" href="mailto:e.cetinkaya@talyabilisim.com.tr"
        ><mat-icon>email</mat-icon>
        <span>e.cetinkaya@talyabilisim.com.tr</span>
      </a>
    </div>

    <div>
      <a href="tel:90 252 642 1140"
        ><mat-icon>phone</mat-icon>
        <span>90 252 642 1140</span>
      </a>
    </div>

    <div>
      <a target="_blank" href="myhotel.com" class="ng-star-inserted"
        ><mat-icon>link</mat-icon>
        <span>myhotel.com</span>
      </a>
    </div>
  </div>

  <div fxFlex="100" class="hotel-detail-info-defaulte-facility">
    <div class="item">
      <mat-icon>done_all</mat-icon
      ><span _ngcontent-xup-c189="" class="ng-star-inserted">Otelde Ödeme</span>
    </div>

    <div class="item">
      <mat-icon>done_all</mat-icon
      ><span _ngcontent-xup-c189="" class="ng-star-inserted">Otelde Ödeme</span>
    </div>
  </div>

  <div fxFlex="100">
    <p>
      Kaş Antalya bölgesi Çukurbağ Yarımadasındaki <strong>MyHotel</strong> Kaş
      ilçesindeki oteller arasında en iyi konaklama deneyimi sunmaktadır.
    </p>
  </div>
</div>
