<div fxLayout="row wrap" class="hotelItem m10">
<div fxFlex="100">
    <h2>İletişim Bilgileri</h2>
</div>

    <div fxFlex="25">
        <mat-form-field class="example-full-width">
            <mat-label>Ad</mat-label>
            <input matInput>
          </mat-form-field>
    </div>

    <div fxFlex="25">
        <mat-form-field class="example-full-width">
            <mat-label>Soyad</mat-label>
            <input matInput >
          </mat-form-field>
    </div>


    <div fxFlex="25">
        <mat-form-field class="example-full-width">
            <mat-label>Telefon</mat-label>
            <input matInput >
          </mat-form-field>
    </div>

    <div fxFlex="25">
        <mat-form-field class="example-full-width">
            <mat-label>Eposta</mat-label>
            <input matInput >
          </mat-form-field>
    </div>

    <div fxFlex="100">
        <mat-form-field class="w100">
            <mat-label>Ekstra Not</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
    </div>


</div>