<div fxLayout="row wrap" fxLayoutGap="5px">
  <div fxFlex="15" fxFlex.xs="100">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Giriş</mat-label>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="checkIn"
      />
      <mat-datepicker-toggle matSuffix [for]="checkIn"></mat-datepicker-toggle>
      <mat-datepicker #checkIn></mat-datepicker>
    </mat-form-field>
  </div>
  <div fxFlex="10" fxFlex.xs="100">
    <mat-form-field>
      <mat-label> Gece </mat-label>
      <i matPrefix class="far fa-moon"></i>
      <mat-select>
        <ng-container *ngFor="let asd of mockArrayCreator(60); index as i">
          <mat-option [value]="i">{{ i }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex="15" fxFlex.xs="100">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Çıkış</mat-label>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="checkOut"
      />
      <mat-datepicker-toggle matSuffix [for]="checkOut"></mat-datepicker-toggle>
      <mat-datepicker #checkOut></mat-datepicker>
    </mat-form-field>
  </div>

  <div fxFlex="20" fxFlex.xs="100">
    <mat-form-field>
      <mat-label></mat-label>
      <input style="width: 0; max-width: 0" matInput readonly />
      <div matPrefix>
        <span class="passenger-type-container">
          <span
            class="passenger-type"
            *ngIf="adultCount > 0"
            style="padding-right: 5px"
          >
            <span style="padding-right: 4px">{{ adultCount }}</span>
            <!-- <i class="fas fa-male"></i> -->
            <mat-icon>person</mat-icon>
          </span>

          <span
            class="passenger-type"
            *ngIf="childCount > 0"
            style="height: 100%"
          >
            <span style="padding-right: 2px">{{ childCount }}</span>
            <mat-icon>face</mat-icon>
          </span>
        </span>
      </div>
    </mat-form-field>
  </div>

  <div fxFlex="20" fxFlex.xs="100">
    <mat-form-field>
      <mat-icon matPrefix>card_giftcard</mat-icon>
      <mat-label> Promosyon </mat-label>
      <input matInput type="text" />
    </mat-form-field>
  </div>

  <div fxFlex="16" fxFlex.xs="100">
      <div style="    margin: auto;
      display: flex;
      align-items: center;
      height: 100%;">
    <button mat-raised-button style="font-size: 20px;width:100%;" color="accent">
      <mat-icon>search</mat-icon>
      Oda Ara
    </button>
</div>
  </div>
</div>
