<div fxLayout="row wrap" class="hotelItem m10">
  <div fxFlex="100">
    <h2>Misafir Bilgileri</h2>
  </div>

  <div fxLayout="row wrap">
    <div fxFlex="100">1.Misafir:Yetişkin</div>
    <div fxFlex="25">
      <mat-form-field class="example-full-width">
        <mat-label>Ad</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div fxFlex="25">
      <mat-form-field class="example-full-width">
        <mat-label>Soyad</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div fxFlex="25">
      <mat-form-field class="example-full-width">
        <mat-label>Telefon</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div fxFlex="25">
      <mat-form-field class="example-full-width">
        <mat-label>Eposta</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap">
    <div fxFlex="100">2.Misafir:Yetişkin</div>
    <div fxFlex="25">
      <mat-form-field class="example-full-width">
        <mat-label>Ad</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div fxFlex="25">
      <mat-form-field class="example-full-width">
        <mat-label>Soyad</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div fxFlex="25">
      <mat-form-field class="example-full-width">
        <mat-label>Telefon</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div fxFlex="25">
      <mat-form-field class="example-full-width">
        <mat-label>Eposta</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>
</div>
