<div fxLayout="row wrap">
  <div fxFlex="48" fxFlex.xs="100" fxFlex.md="100">
    <button class="w100" mat-raised-button>Sepeti Temizle</button>
  </div>
  <div fxFlex="2"></div>
  <div fxFlex="48" fxFlex.xs="100" fxFlex.md="100">
    <button class="w100" mat-raised-button color="accent">
      Rezervasyona Devam Et
    </button>
  </div>
</div>

<div fxLayout="row wrap">
  <ng-container *ngFor="let item of [1, 2]">
    <div fxFlex="100" class="hotelBasketItem" style="margin-top: 10px">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Standart Oda</strong>
            </mat-panel-title>
            <button class="remove-button" mat-mini-fab>
              <mat-icon>clear</mat-icon>
            </button>
          </mat-expansion-panel-header>

          <div class="hotel-basket-container ng-tns-c149-50">
            <div class="hotel-basket-panel-detail">
              <div class="hotel-basket-panel-image">
                <img
                  src="https://erspublic.blob.core.windows.net/test/170668de-7c8c-4466-8940-073611e53000.jpg"
                  alt="MyHotel"
                  class="ng-star-inserted"
                />
              </div>
              <div class="hotel-basket-panel-info">
                <div class="hotel-basket-panel-info-desc">Faralya 1</div>
              </div>
            </div>
            <div class="hotel-basket-panel-date">
              <div class="hotel-basket-checkInOut">
                <div class="hotel-basket-panel-up">
                  <div class="hotel-basket-panel-up-header">
                    <div class="hotel-basket-panel-up-label">Giriş</div>
                    <div class="hotel-basket-panel-up-time">14:00</div>
                  </div>
                </div>
                <div class="hotel-basket-panel-down">
                  <div class="hotel-basket-panel-down-day">10</div>
                  <div class="hotel-basket-panel-down-month">
                    <div class="hotel-basket-panel-down-day-str">Çarşamba</div>
                    <div class="hotel-basket-panel-down-month-str">
                      Mar 2021
                    </div>
                  </div>
                </div>
              </div>
              <div class="hotel-basket-checkInOut ng-star-inserted">
                <div class="hotel-basket-panel-up">
                  <div class="hotel-basket-panel-up-header">
                    <div class="hotel-basket-panel-up-label">Çıkış</div>
                    <div class="hotel-basket-panel-up-time">12:00</div>
                  </div>
                </div>
                <div class="hotel-basket-panel-down">
                  <div class="hotel-basket-panel-down-day">11</div>
                  <div class="hotel-basket-panel-down-month">
                    <div class="hotel-basket-panel-down-day-str">Perşembe</div>
                    <div class="hotel-basket-panel-down-month-str">
                      Mar 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hotel-basket-panel-item">
              <div class="hotel-basket-panel-item-info ng-star-inserted">
                <div class="hotel-basket-panel-item-name">Standart Oda</div>
                <div class="hotel-basket-panel-item-price-container">
                  <div class="hotel-basket-panel-item-price">
                    1 x 810.00&nbsp;&nbsp; EUR
                  </div>
                  <div class="hotel-basket-panel-item-price-info">
                    1 Oda 1 Gece Fiyatı
                  </div>
                </div>
              </div>

              <hr />
              <div class="hotel-basket-panel-item-properties">
                <div class="hotel-basket-panel-item-properties-left">
                  <div style="margin-bottom: 5px">Oda ve Kahvaltı</div>
                  <div class="description-detail">non-refundable</div>
                </div>
                <div class="hotel-basket-panel-item-properties-right">
                  <mat-icon>accessibility_new</mat-icon
                  ><mat-icon>accessibility_new</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>
</div>
