<app-header></app-header>
<div class="hotel-advisor-container">
  <div class="content">
    <div
      fxLayout="row wrap" 
      fxLayoutAlign="space-between"
      class="mat-elevation-z3 hotel-detail-info hotelItem"
    >
      <div fxFlex="50" fxFlex.xs="100">
        <app-hotelphoto></app-hotelphoto>
      </div>
      <div fxFlex="50" fxFlex.xs="100">      
            <app-hotelinfo></app-hotelinfo>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="space-between"
      class="mat-elevation-z3 hotel-detail-info hotelItem"
    >
      <div fxFlex="100">
        <app-searchbox (priceList)="_priceList($event)" ></app-searchbox>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between" class="hotel-detail-info mt-15">
      <div fxFlex="66" class="mat-elevation-z3">
        <app-rooms [priceList]="priceListData" (basketItem)="_basketItem($event)"></app-rooms>
        <app-extras></app-extras>
        <app-contact></app-contact>
        <app-guests></app-guests>
        <app-payment></app-payment>
      </div>

      <div fxFlex="33" class="mat-elevation-z3 ">
        <app-basket [basketItems]="basketItemsData"></app-basket>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
