html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  background-color: #faf8f8;
}

a {
  color: inherit;
  text-decoration: none;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

/****Header Css **/

.hotel-advisor-container {
  display: grid;
}

.hotel-advisor-container > * {
  grid-column: 2;
}

@media (min-width: 1280px) {
  .hotel-advisor-container {
    grid-template-columns: auto 1200px auto;
  }
}




.menu-infix .mat-form-field-infix {
  padding: 10px !important;
  width: 60px !important;
  border: 0px;
}



.menu-infix-lang .mat-form-field-infix {
  padding: 10px !important;
  width: 80px !important;
  border: 0px;
}

.menu-infix .mat-form-field-wrapper , .menu-infix-lang .mat-form-field-wrapper {
  margin: 0px;
  padding: 0px;
}

.menu-infix .mat-form-field-outline ,.menu-infix-lang .mat-form-field-outline {
  display: none !important;
}

/**Header Css End */

.m15 {
  margin: 15px;
}

.m10 {
  margin: 10px;
}

.hotelItem {
  background: white;
  margin-top: 15px;
  padding: 10px;
}

.mt-15 {
  margin-top: 15px;
}
.m0 {
  margin: 0px;
}
.align-center {
  align-items: center;
}


::ng-deep .mat-input-background .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: .75em .75em 0 .75em;
}

::ng-deep  .mat-input-background .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0,0,0,.04);
}