<div fxLayout="row wrap" class="hotelItem m10">
  <div fxFlex="25" style="position: relative" class="hotel-image">
    <img
      class="w100 hotelphoto"
      src="https://erspublic.blob.core.windows.net/test/170668de-7c8c-4466-8940-073611e53000.jpg"
    />
    <div class="room-type-info-image-bottom-cont">
      <div>
        Max <i class="fas fa-male"></i><i class="fas fa-male"></i
        ><i class="fas fa-male"></i>
      </div>
    </div>
  </div>
  <div fxFlex="75">
    <div style="padding: 0 10px">
      <h2 class="m0">Standart Oda</h2>
      <p>
        Kaş Antalya bölgesi Çukurbağ Yarımadasındaki MyHotel Kaş ilçesindeki
        oteller arasında en iyi konaklama deneyimi sunmaktadır. Kaş Antalya
        bölgesi Çukurbağ Yarımadasındaki MyHotel Kaş ilçesindeki oteller
        arasında en iyi konaklama deneyimi sunmaktadır. ...
      </p>

      <div class="room-amenities">
        <i class="fab fa-keycdn" matTooltip="Wifi"></i>
        <i class="fab fa-keycdn" matTooltip="Wifi"></i>
        <i class="fab fa-keycdn" matTooltip="Wifi"></i>
        <i class="fab fa-keycdn" matTooltip="Wifi"></i>

        <div
          style="
            color: #000;
            font-weight: 500;
            padding: 9px !important;
            font-size: 14px;
            cursor: pointer;
          "
        >
          <i class="fas fa-search-plus"></i
          ><span style="text-decoration: underline; padding-left: 5px"
            >Devamını Göster</span
          >
        </div>
      </div>
    </div>
  </div>
</div>


<ng-container *ngFor="let item of [1,2,3]">

<div fxLayout="row wrap" fxLayoutGap="10px" class="roomPrice align-center">
  <div fxFlex="40">
    <div class="room-properties">
      <div>
        <button
          style="border: none; display: contents"
          color="primary"
          mat-stroked-button
        >
          <mat-icon>info</mat-icon>
        </button>
      </div>

      <div class="infoItem">
        <mat-icon>local_dining</mat-icon>Oda ve Kahvaltı
      </div>

      <div class="infoItem">
        <mat-icon>credit_card</mat-icon>
        non-refundable
      </div>

      
    </div>
  </div>

  <div fxFlex="15">
    <div class="room-price">
      <div class="default-price">
        <span class="price" style="text-decoration: line-through">900</span>
        <div class="price-inline">
          <span style="text-decoration: line-through">.00</span
          ><span style="text-decoration: line-through">EUR</span>
        </div>
      </div>

      <div class="default-price finalPrice">
        <span class="price">810</span>
        <div class="price-inline"><span>.00</span><span>EUR</span></div>
      </div>
    </div>
  </div>

  <div fxFlex="10">
    <div class="price-percent">%10</div>
  </div>

  <div fxFlex="10">
    <mat-form-field appearance="outline" class="w100 roomCount">
      <mat-label> Oda Sayısı </mat-label>
      <mat-select value="1">
        <mat-option
          [value]="i + 1"
          *ngFor="let count of [1, 2, 3, 4, 5, 6]; index as i"
        >
          {{ i + 1 }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex="19" style="margin: auto; text-align: center">
    <button mat-raised-button color="accent">
      Satın Al
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
</ng-container>





