.room-type-info-image-bottom-cont {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25098039215686274);
  width: 100%;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
}
.room-type-info-image-bottom-cont i {
  margin: 2px;
}

.hotelphoto {
  height: 100%;
  object-fit: cover;
}

.hotel-image {
  width: 210px;
}

.room-amenities {
  height: 36px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.room-amenities i {
  border: 1px solid #eee;
  padding: 7px !important;
  font-size: 20px;
  margin-right: 5px;
}

.room-properties {
  display: flex;
}

.infoItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.infoItem .mat-icon {
  margin-right: 5px;
}

.default-price {
  display: flex;
  justify-content: flex-end;
}

.default-price .inline-price {
  display: flex;
}

.price-inline span {
  display: block;
  color: gray;
  line-height: 11px;
  font-weight: 500;
  font-size: 14px;
}

.default-price .price {
  font-size: 22px;
  font-weight: 500;
  color: gray;
}

.default-price.finalPrice .price {
  font-size: 35px !important;
  color: black !important;
}

.default-price.finalPrice .price-inline span {
  color: black !important;
  line-height: 12px;
  font-weight: 700;
}

.default-price.finalPrice .price-inline {
  margin-top: 10px;
}

.default-price.finalPrice {
  margin-top: -10px;
}

.price-percent {
  background: #b39ddb;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.roomPrice {
  margin: 5px 10px;
  background: white;
  padding: 5px;
}

@media (min-width: 768px) {
  .rooms-area {
    padding: 0 10px;
  }

  .roomItem {
    margin: 5px;
  }
}

@media (max-width:767px) {
  .price-percent { 
    height: 30px;
    font-size: 18px;
  }
}


::ng-deep .roomCount .mat-form-field-wrapper {
  padding: 0px !important;
  margin: 0;
}
