<div fxLayout="row wrap">
  <div fxFlex="20" style="position: relative;">
    <img
      class="w100 hotelphoto"
      src="https://erspublic.blob.core.windows.net/test/170668de-7c8c-4466-8940-073611e53000.jpg"
    />
    <div class="room-type-info-image-bottom-cont">
      <div>
        Max <i class="fas fa-male"></i><i class="fas fa-male"></i
        ><i class="fas fa-male"></i>
      </div>
    </div>
  </div>
  <div fxFlex="80">
    <h2>Standart Oda</h2>
    <p>
      Kaş Antalya bölgesi Çukurbağ Yarımadasındaki MyHotel Kaş ilçesindeki
      oteller arasında en iyi konaklama deneyimi sunmaktadır. Kaş Antalya
      bölgesi Çukurbağ Yarımadasındaki MyHotel Kaş ilçesindeki oteller arasında
      en iyi konaklama deneyimi sunmaktadır. ...
    </p>
  </div>
</div>
